
$bs: border-box;
$padd: 2rem 4rem 2rem 4rem;
@mixin buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 10rem;
    align-self: center;
    width: 13rem;
    padding: $padd;

    :hover {  
        background-color: aqua;
    }
}

* {
    box-sizing: $bs;
}

h1 {
    height: 50%;
    width: 50%;
    align-items: center;
}

div {
    @include buttons;
}

