$HUEN: 10;
$HUEW: 0;
$HUEC: 145;
$padd: 2rem 4rem 2rem 4rem;
$Qmargin: 1rem 3rem 1rem;
@mixin colormatchtheme($name, $HUEN) {
    #{$name} {
        >div, .start .Button, .text {
        // "Hey patrick know what's funnier than 24.....25.
        background-color: lighten(adjust-hue($HUEN, 24), 25%);
        color: $HUEN;
        @include futureCards(button);
        }
        // For the answers
        .Button.text:hover {
            background-color: darken(adjust-hue($HUEN, 24), 69%);
            
            &.correct:hover {
                background-color: green;
            }

            &.wrong:hover {
                background-color: red;
            }
        }
        //For the start and Next Q
        .Button:hover{
            background-color: darken(adjust-hue($HUEN, 24), 69%);
        }
    }
}

@mixin buttons {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    padding: $padd;
}

@mixin centeredContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
    height:100vh;
}

@mixin futureCards($n) {
    border-radius: 0.625rem;
    padding: 0.625rem;
    box-shadow: 0 0 0.625rem 0.125rem;
    #{$n} {
        cursor: pointer;
    }
    
}

*, *::before ,*::after {
    box-sizing: border-box;
}

body {
    @include centeredContent;
    @include colormatchtheme(main ,rgba(204, 157, 26, 0.794));
    background-color: hsl(69, 100, 20);
}

div.Button, #A-b {
    @include buttons;
}

.start, .Button {
    justify-content: space-evenly;
    display: flex;
}

.H {
    display: none;
}

#Exam {
    text-align: center;
    margin: $Qmargin;
}

.Button.text {
    margin: $Qmargin;
}