*, *::before, *::after {
  box-sizing: border-box; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;
  height: 100vh;
  background-color: #576600; }
  body main > div, body main .start .Button, body main .text {
    background-color: rgba(222, 238, 120, 0.794);
    color: rgba(204, 157, 26, 0.794);
    border-radius: 0.625rem;
    padding: 0.625rem;
    box-shadow: 0 0 0.625rem 0.125rem; }
    body main > div button, body main .start .Button button, body main .text button {
      cursor: pointer; }
  body main .Button.text:hover {
    background-color: rgba(0, 0, 0, 0.794); }
    body main .Button.text:hover.correct:hover {
      background-color: green; }
    body main .Button.text:hover.wrong:hover {
      background-color: red; }
  body main .Button:hover {
    background-color: rgba(0, 0, 0, 0.794); }

div.Button, #A-b {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem 2rem 4rem; }

.start, .Button {
  justify-content: space-evenly;
  display: flex; }

.H {
  display: none; }

#Exam {
  text-align: center;
  margin: 1rem 3rem 1rem; }

.Button.text {
  margin: 1rem 3rem 1rem; }
